/* body {
  background-color: brown;
  height: 400px;
}

.box {
  background-color: blue;
  width: 60%;
  height: 50%;
}

.box_child {
  background-color: yellow;
  width: 50%;
} */

.parent {
  /* font-size: 60px; */
}

.line1 {
  font-size: 100%;
}
