/* khai báo root hoặc html sẽ áp dụng cho toàn trang */
html {
  --box-height: 150px;
  --box-color: red;
}

.box1 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}

.box2 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}

.box3 {
  height: var(--box-height);
  background-color: var(--box-color);
  margin-bottom: 10px;
}

.box3 {
  height: 200px;
}
/* 2. Khai báo trong phần tử nào thì sẽ áp dụng được 
cho phần tử đó và các cấp thấp hơn(con của nó) */
.detail {
  --p_font-size: 30px;
  /* font-size: 30px; */
  /* font-size: var(--p_font-size); */
}

.detail span {
  font-size: var(--p_font-size);
}

/* 4.Giá trị backup của biến */
.content {
  --background-box: red;
}

.box4 {
  height: 100px;
  background-color: var(--background-box, purple); /*backup or fallback*/
}

/* Giá trị màu bị lặp lại, chiều cao box bị lặp lại
Không tái sử dụng được
Khi cần sửa phải sửa từng vị trí 
*/
/* .box1 {
  height: 110px;
  background-color: #0f0;
  margin-bottom: 10px;
}

.box2 {
  height: 110px;
  background-color: #0f0;
  margin-bottom: 10px;
}

.box3 {
  height: 110px;
  background-color: #0f0;
  margin-bottom: 10px;
} */
