/* code beauty  */
.box1,
.box4,
.box5 {
  background: aqua;
}

.box2,
.box3 {
  background: blue;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-template-rows: 50px 100px 200px;
  /* align-items: stretch;
  align-items: center;
  align-items: start;
  align-items: end; */

  justify-items: stretch;
  justify-items: center;
  justify-items: left;
  justify-items: right;
}
