body {
  display: flex;
  flex-direction: column;
}

.box {
  width: 200px;
  height: 200px;
  border: 10px solid red;
}

.box1 {
  margin-bottom: 50px;
}

.box2 {
  margin-top: 70px;
}

/* margin collapse không bị theo chiều ngang */
/* .item {
  background-color: yellow;
  border: 2px solid red;
}

.item1 {
  margin-right: 10px;
}

.item2 {
  margin-left: 20px;
} */
