h1 {
  margin: 40px;
  /* text-shadow: ngang, dọc, blur, màu */
  text-shadow: 0px -20px 0px rgba(255, 0, 0, 0.324);
}

.box {
  width: 300px;
  height: 200px;
  background-color: yellow;
  overflow: scroll;
  overflow: auto;
}
