body {
  background-color: aqua;
}

a {
  /* 
  1 - padding-top, padding-bottom
  2 - margin-top, margin-bottom
  3 - width, height , min-width, min-height 
  */
  margin-top: 30px;
  text-decoration: none;
  background-color: rgb(221, 179, 233);
  border-radius: 999px;
  color: #000;
  width: 100px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
}

a:hover {
  background-color: #000;
  color: rgb(221, 179, 233);
}
