p::first-line {
  color: red;
}
span {
  display: inline;
}

span::first-line {
  color: blue;
  background-color: yellow;
}

p::first-letter {
  font-size: 40px;
  color: blue;
}

::selection {
  background-color: brown;
  color: #fff;
}

li::marker {
  font-size: 40px;
  color: red;
}

.box::before {
  content: "Em ở đằng trước nè";
}

.box::after {
  display: inline-block;
  content: "";
  width: 100px;
  height: 5px;
  background-color: blue;
  border-radius: 999px;
  color: red;
}
