.mes-bottom a {
  font-size: 2rem;
  color: #0082ff;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.nav {
  background: #555;
  position: fixed;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  /* inset: 50px 100px 150px 50px; */
  left: 0;
  right: 0;
  top: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

h1 {
  margin-top: 51px;
}
