.box {
  width: 100px;
  height: 100px;
  color: #fff;
  /* căn giữa text ở các khối */
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  background: red;
  /* position: static; */
}

.box2 {
  background: blue;
  position: static;
  /* left: 50px; */
  /* right: 50px; */
  /* top: 50px; */
  bottom: 50px;
  right: 30px;
}

.box3 {
  background: green;
  position: static;
  bottom: 50px;
}
h1 {
  background: purple;
}
