.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* box shadow */

/* 
img {
  box-shadow: 10px 0 20px black;
}
 */

/* drop-shadow */
img {
  /* filter: drop-shadow(10px 0 20px black); */
}

/* Ví dụ 2: Tạo bong bóng chat*/
.chat {
  max-width: 300px;
  font-size: 1.2rem;
  filter: drop-shadow(0 0 2px black);
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.chat::after {
  content: "";
  position: absolute;
  border: 20px solid;
  border-color: #fff transparent transparent;
  right: 5%;
  bottom: -39px;
}

/* đổi màu hình ảnh */
.icon {
  filter: brightness(0) saturate(100%) invert(23%) sepia(92%) saturate(4040%)
    hue-rotate(288deg) brightness(77%) contrast(122%);
}

.test {
  width: 200px;
  filter: hue-rotate(10deg);
}
