.container {
  height: 150px;
  display: flex;
  background-color: cyan;
  flex-direction: column;
}

.box {
  width: 30%;
  /* flex-basis: 30%; */
  background-color: blue;
  border: 1px solid black;
  flex-shrink: 3;
}
